<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="2">
    <test verbose="2" preserve-order="true" name="G:/kwd_driven/SeleniumJobInterview">
        <classes><class name="tests.OrangeHRMTest">

            <methods>
                <include name="loginTest"/>
                <include name="inValidCredsTest"/>

            </methods>
        </class>
        </classes>
    </test>
</suite>